body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:-webkit-any-link{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

pre{
  font-family: 'Roboto', sans-serif;
  min-height: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-moz-selection { 
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
